.hero-content-container {
    width: min(1200px, calc(100% - 4rem));
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

@media (max-width: 980px) {
    .hero-content-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}